.content-container {
  padding-top: 82px; /* Height of the header */
}

@media (max-width: 768px) {
  .content-container {
    padding-top: 170px;
  }
}

@media (max-width: 480px) {
  .content-container {
    padding-top: 250px;
  }
}
