html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#root {
  height: 100vh;
}

/* Scroll snapping container */
.scroll-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


.page {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.hero-container {
  width: 100%;
  overflow: hidden;
}


.info-section {
  background-color: #0f1f16;
  overflow: hidden;
}


.section-bridge {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: 100;

  background: linear-gradient(
    to bottom,
    #060C1D 0%,
    #0f1f16 60%,
    transparent 100%
  );

  pointer-events: none;
}


.clouds-img {
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  z-index: 100;
}
