html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#root {
  height: 100vh;
}

/* Scroll snapping container */
.scroll-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


.page {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.hero-container {
  width: 100%;
  overflow: hidden;
}


.info-section {
  background-color: #0f1f16;
  overflow: visible;
  position: relative;
  top: -700px;
}


.section-bridge {
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;

  background: linear-gradient(
    to bottom,
    #060C1D 0%,
    transparent 60%,
    transparent 100%
  );

  pointer-events: none;
}

@keyframes zoomInClouds {
  from {
    transform: scale(1.1) translateY(10vh);
  }
  to {
    transform: scale(1) translate(0vh);
}
}

@keyframes zoomOutClouds {
  from {
    transform: scale(1) translateY(10vh);
  }
  to {
    transform: scale(1.1) translate(10vh);
}
}

.clouds-img {
  position: absolute;
  top: -400px;
  width: 100%;
  height: 100%;
  animation: zoomInClouds 0.6s ease-out;
  display: flex;
  justify-content: center;
  z-index: 20;
  pointer-events: none;
  object-fit: cover;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

}

@keyframes zoomOutLeaves {
  from {
    transform: scale(1.1) translateY(10vh);
  }
  to {
    transform: scale(1) translate(0vh);
}
};

.leaves-img {
  position: absolute;
  bottom: 300px;
  width: 100%;
  height: 100vh;
  animation: zoomOut 0.6s ease-out;
  display: flex;
  justify-content: center;
  z-index: 0;
  pointer-events: none;
  object-fit: cover;;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.clouds-img img,
.leaves-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
