.mountain-svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  overflow: hidden; 
  pointer-events: none; 
  animation: zoomIn 0.6s ease-out;
  display: flex;
  justify-content: center; 
}

.mountain-svg img {
  width: 100%;    
  max-height: 100%; 
  height: auto;  
  display: block;
  object-fit: contain;
}


@keyframes zoomIn {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }

}