.mountain-svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    animation: zoomIn 0.6s ease-out;
}

@keyframes zoomIn {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }

}