.mountain-svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  overflow: hidden; /* make sure nothing spills */
  pointer-events: none; /* optional, so it doesn’t block clicks */
  animation: zoomIn 0.6s ease-out;
  display: flex;
  justify-content: center; /* center the image horizontally */
}

.mountain-svg img {
  width: 100%;    /* stretch to the width of the screen */
  max-height: 100%; /* limit the height so it doesn’t take whole screen */
  height: auto;   /* keep aspect ratio */
  display: block;
  object-fit: contain; /* preserve aspect ratio and fit inside container */
}


@keyframes zoomIn {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }

}