.dark-background {
  background-color: var(--bg-overlay);
  min-height: 100vh; 
  width: 100%; 
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dark-background .loading {
  margin: auto;
  color: white; 
  font-size: 2rem; 
}
