.card-grid-wrapper {
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
  animation: slideIn 0.2s ease-in-out;
}

@keyframes slideIn {
    from {
    transform: translateX(20%);
    opacity: 0.6;
  }
  to {
    transform: translateX(0);
    opacity: 1
  }
}

.results {
  margin-bottom: 2rem;
  opacity: 1;
  font-weight: bold;
}

.card-grid > div {
  min-width: 220px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 3rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 82, 82, 0.15);
  color: #ff5252;
  border: 1px solid rgba(255, 82, 82, 0.3);
  padding: 2rem;
  margin: 2rem auto;
  min-height: 150px;
  width: 90%;
  max-width: 600px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  cursor: default;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}