.search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(205, 214, 244, 0.7);
  border-radius: 20px;
  padding: 5px;
  transition: 0.3s ease;
  border: 1px solid #ccc;
}

.search-bar:focus-within {
  border-color: #555;
}

.input_wrapper {
  background-color: transparent;
  overflow: hidden;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin: 0;
  background-color: transparent;
  color: #333;
  font-size: 1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input::placeholder {
  color: #555;
}

.search-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.search-button svg {
  stroke: currentColor;
}